{% extends "DeepArchive/layout.html" %}
{% block title %}
{% if dbname %}
{{ dbname | title }} Archive
{% endif %}
{% if tag %}
Tag: {{ tag | title }}
{% endif %}
{% endblock %}
{% block content %}
{% if dbname %}
<h2>{{ dbname | title }} Archive</h2>
{% endif %}
{% if tag %}
<h2>Tag: {{ tag | title }}</h2>
{% endif %}
{% if itemset_list %}
<a href="{% url 'itemsetcreator' %}?prev={{ dbname }}">New Item Set</a>
<!-- <div class="SetWrapper">
            <div class="SetContent">
                {% for set in itemset_list %}
                <div class="SetTile">
                    <a class="SetTile-Link">
                        <div class="SetTile-Thumb">
                            
                        </div>
                        <div class="SetTile-Body">
                            Test
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div> -->
<table class="table archive_view">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Added</th>
            <th>Archive</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for set in itemset_list %}
        <tr class="row-link" href="{% url 'itemsetdetails' slug=set.slug %}">
            <td>{{ set.title }}</td>
            <td>{{ set.description | truncatewords:10 }}</td>
            <td>{{ set.added }}</td>
            <td>{{ set.archive }}</td>
            <td>{% for tag in set.tags.all %}{{ tag | title }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No item sets have been made. Create a <a href="{% url 'itemsetcreator' %}?prev={{ dbname }}">New Item Set</a>?</p>
{% endif %}
{% endblock %}