{% extends "DeepArchive/layout.html" %}
{% block title %}
{{ dbname|title }} Archive
{% endblock %}
{% block content %}
<h2>{{ dbname|title }} Archive</h2>
{% if set_list %}
<a href="{% url 'itemsetcreator' %}?prev={{ dbname }}">New Item Set</a>
<!-- <div class="SetWrapper">
            <div class="SetContent">
                {% for set in set_list %}
                <div class="SetTile">
                    <a class="SetTile-Link">
                        <div class="SetTile-Thumb">
                            
                        </div>
                        <div class="SetTile-Body">
                            Test
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div> -->
<table class="table archive_view">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Added</th>
            <th>Archive</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for set in set_list %}
        <tr class="row-link">
            <td>{{ set.title }}</td>
            <td>{{ set.description }}</td>
            <td>{{ set.added }}</td>
            <td>{{ set.archive }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No item sets have been made. Create a <a href="{% url 'itemsetcreator' %}">New Item Set</a>?</p>
{% endif %}
{% endblock %}