<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - DeepArchive</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'DeepArchive/site.css' %}" />
</head>

<body>
    <div class="navbar">
        <a href="{% url 'archivelist' %}" class="navbar-brand">Archives</a>
        <a href="{% url 'archivecreator' %}" class="navbar-item">Create Archive</a>
    </div>

    <div class="body-container">
        <div class="body-main">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
        <hr />
            {% load version %}
            <p>DeepArchive {% current_version %}</p>
        </footer>
    </div>
</body>

</html>