{% extends "DeepArchive/layout.html" %}
{% block title %}
{{ itemset.title | title }} Details
{% endblock %}
{% block content %}
<a href="{% url 'archiveviewer' dbname=itemset.archive.slug %}">Backsies</a>

<h1>Title: {{ itemset.title | title }}</h1>
<h5>Added on {{ itemset.added }}, currently in {{ itemset.archive | title }}</h5>
{% if itemset.tags %}
{% for tag in itemset.tags.all %}
<a href="{% url 'tagged' tag.slug %}" class="badge badge-success">
    {{ tag }}
</a>
{% endfor %}
{% endif %}
{% if itemset.image %}
<img src ="{{ itemset.image.url }}" />
{% endif %}

<h3>Description:</h3>
<p>{{ itemset.description }}</p>
{% if items %}
<h3>Files:</h3>
{% for item in items %}
<a href="#">{{ item }}</a>
{% endfor %}
{% else %}
<p>No items, add one</p>
{% endif %}
<p><a href="{% url 'itemcreator' %}?prev={{ itemset.slug }}">Add Item</a></p>

{% endblock %}