body {
    background: #2c2e33;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
    background-color:#313338;
    font-size: 1em;
    font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #edf0f1;
    padding: 8px 5px;
    position: relative;
    box-shadow: 1px 1px #000000;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-container {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #363941;
    color: #d8dce7;
    box-shadow: 1px 1px #000000;
}

.body-main {
    min-height: 40vh;
    padding: 10px 5px 5px;
}

footer {
    text-align: center;
}